<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'WebitForexSiteBundle::Default/head.html.twig' %}
        <!-- add by abd -->
  {#      <title></title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />#}
        <!-- end -->
        
    </head>
    <body>
        <div class="loginPage-block">
            <div class="container-fluid">
                <div class="mainLogin-img">
                    <img class="mainLogin_img img-responsive" src="{{asset('bundles/webitforexsite/images/chess-img.jpg')}}" />
                    <div class="container">
                        <div class="mainLogin-Block">
                            <div class="logo-loginBox">
                                <a href="#"><img src="{{asset('bundles/webitforexsite/images/login-logo.png')}}"></a>
                            </div>
                            <div class="startTrading-today">
                                <div class="title">start Trading today!</div>
                                <div class="startTrading-form">
                                    <form>
                                        <div class="formGroup">
                                            {{ form(form) }}
                                        </div>
                                    </form>
                                    <button class="btn-on-yellow-dark">Join Now</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div><!-- end mainLogin-img-->
                <div class="container mainContent_login">
                    <div class="about_Baxia">
                        <div class="title">About Baxia</div>
                        <div class="description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                        <div class="read-More"><a target="_blank" class="btn-on-yellow-dark" href="{{path('showPage',{'id': 4, 'slug':'about-baxia'})}}"> Read More </a></div>
                    </div><!-- about_Baxia -->

                    <div class="description_Text">
                        <p>Full time accuracy and knowledge for the <span>forex market,</span> trade with the <span>greatest</span> and the <span>Best</span></p>
                    </div>

                    <div class="container">
                        <div class="loginPage-whyBaxia">
                            <div class="whyBaxia">
                                <div class="title">why Baxia?</div>
                                <div class="row">
                                    <div class="whyBaxia-box col-lg-4 col-md-4">
                                        <div class="whyBaxia-title">
                                            Lorem Ipsum Dolor
                                        </div>
                                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                                        <div class="readMore"><a target="_blank" class="btn-on-yellow-dark" href="{{path('showPage',{'id': 4, 'slug':'about-baxia'})}}">Read More</a></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="whyBaxia-box col-lg-4 col-md-4">
                                        <div class="whyBaxia-title">
                                            Lorem Ipsum Dolor
                                        </div>
                                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                                        <div class="readMore"><a target="_blank" class="btn-on-yellow-dark" href="{{path('showPage',{'id': 4, 'slug':'about-baxia'})}}">Read More</a></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="whyBaxia-box col-lg-4 col-md-4">
                                        <div class="whyBaxia-title">
                                            Lorem Ipsum Dolor
                                        </div>
                                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                                        <div class="readMore"><a target="_blank" class="btn-on-yellow-dark" href="{{path('showPage',{'id': 4, 'slug':'about-baxia'})}}">Read More</a></div>
                                        <div class="clear"></div>
                                    </div>
                                </div><!-- row -->
                                <div class="row">
                                    <div class="whyBaxia-box col-lg-4 col-md-4">
                                        <div class="whyBaxia-title">
                                            Lorem Ipsum Dolor
                                        </div>
                                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                                        <div class="readMore"><a target="_blank" class="btn-on-yellow-dark" href="{{path('showPage',{'id': 4, 'slug':'about-baxia'})}}">Read More</a></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="whyBaxia-box col-lg-4 col-md-4">
                                        <div class="whyBaxia-title">
                                            Lorem Ipsum Dolor
                                        </div>
                                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                                        <div class="readMore"><a target="_blank" class="btn-on-yellow-dark" href="{{path('showPage',{'id': 4, 'slug':'about-baxia'})}}">Read More</a></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="whyBaxia-box col-lg-4 col-md-4">
                                        <div class="whyBaxia-title">
                                            Lorem Ipsum Dolor
                                        </div>
                                        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                                        <div class="readMore"><a target="_blank" class="btn-on-yellow-dark" href="{{path('showPage',{'id': 4, 'slug':'about-baxia'})}}">Read More</a></div>
                                        <div class="clear"></div>
                                    </div>
                                </div><!-- row -->
                            </div>
                        </div><!-- loginPage-whyBaxia -->
                    </div>
                </div>
            </div><!-- end container-fluid -->
            <div class="container-fluid noPadding messageBlock">
		<div class="container">
			<div class="baxiaPartner-message">
				<div class="messageCont">Lnterested in Forex Trading with Baxia?</div>
				<button type="submit" class="btn btn-primary btn-on-purple-dark">Contact Us</button>
			</div><!-- baxiaPartner-message -->
		</div><!-- container -->
            </div>
        </div>
    </body>
    {% include 'WebitForexSiteBundle::Default/footer.html.twig' %} 
</html>    