<footer>
	<div class="container">
		<div class="footerBlocks">
			<div class="col-lg-4 col-md-4 col-sm-4 logoFooter-Block">
				<div class="footerLogo"><a href="#"><img src="{{ asset('bundles/webitforexsite/images/footer-logo.png') }}"></a></div>
				<div class="followUs-Block">
					<div class="followUs">{%trans%}follow_us{%endtrans%}</div>
					<div class="socialMedia-icons">
						<ul>
							<li>
								<a href="{%if settings['twitter_link'] is defined %}{{settings['twitter_link']['value']}}{%else%}javascript:void(0){%endif%}"><img src="{{ asset('bundles/webitforexsite/images/twitter.png') }}"></a>
							</li>
							<li>
								<a href="{%if settings['linkedin_link'] is defined %}{{settings['linkedin_link']['value']}}{%else%}javascript:void(0){%endif%}"><img src="{{ asset('bundles/webitforexsite/images/in.png') }}"></a>
							</li>
							<li>
								<a href="{%if settings['facebook_link'] is defined %}{{settings['facebook_link']['value']}}{%else%}javascript:void(0){%endif%}"><img src="{{ asset('bundles/webitforexsite/images/facebook.png') }}"></a>
							</li>
							<li>
								<a href="{%if settings['instagram_link'] is defined %}{{settings['instagram_link']['value']}}{%else%}javascript:void(0){%endif%}"><img src="{{ asset('bundles/webitforexsite/images/instagram.png') }}"></a>
							</li>
						</ul>
					</div>
				</div><!-- followUs-Block -->
			</div><!-- logoFooter-Block -->
			<div class="footer-details col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<div class="icon"><img src="{{ asset('bundles/webitforexsite/images/icon6.png') }}"></div>
				<div class="info">
					Local Call 1300 033 375
					<br>
					Phone +61 3 8879 4408
					<br>
					Fax +81 3 8879 4408
				</div>
			</div>
			<div class="footer-details location col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<div class="icon"><img src="{{ asset('bundles/webitforexsite/images/icon7.png') }}"></div>
				<div class="info">
					15400 Knoll Trail Dr, Suite 225<br>
					Dallas. TX 75248
					<br>
					Global Activity
					<br>
					<div class="locationsBlock">
						<ul>
							<li>
								New York, USA
							</li>
							<li>
								London, UK
							</li>
							<li>
								Tokyo, Jaban
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- footerBlocks -->
	</div><!-- container -->
	<div class="footerLine"></div>
	<div class="container">
		<div class="footerCont">
			<div class="title">Our Liquidity Providers</div>
			<div class="liquidityProviders-logos">
				<ul>
					<li>
						<img src="{{ asset('bundles/webitforexsite/images/UBS.png') }}">
					</li>
					<li>
						<img src="{{ asset('bundles/webitforexsite/images/HSBC.png') }}">
					</li>
					<li>
						<img src="{{ asset('bundles/webitforexsite/images/JPMorgan_Chase.png') }}">
					</li>
					<li>
						<img src="{{ asset('bundles/webitforexsite/images/BNP.png') }}">
					</li>
				</ul>
			</div>

			<div class="description">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo .<br>
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div><!-- description -->
		</div><!-- footerCont -->
	</div><!-- container -->
	<div class="copyRight">
		<div class="container">
			<div class="copyRight-text">
			<span>©﻿</span>	2018 all rights reserved.
			</div>
		</div>
	</div><!-- copyRight -->
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('bundles/webitforexsite/js/slick.min.js') }}"></script>
<script src="{{ asset('bundles/webitforexsite/js/jquery.polyglot.language.switcher.js') }}"></script>
<script src="{{ asset('bundles/webitforexsite/js/mega-menu.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/webitforexsite/js/script.js') }}"></script>

  