{% extends base_template %}


{% block title %}
Approve and create MT4 for "{{object.getPortalUser().getFullName()}}"
{% endblock%}

{% block actions %}
<div class="sonata-actions">
    <ul>
          {% if admin.hasroute('create') and admin.isGranted('CREATE') and admin.id(object)%}
            <li class="btn sonata-action-element"><a href="{{ admin.generateUrl('create') }}">{% trans from 'SonataAdminBundle' %}link_action_create{% endtrans %}</a></li>
            {% endif %}
            {% if admin.hasroute('list') and admin.isGranted('LIST')%}
                <li class="btn sonata-action-element"><a href="{{ admin.generateUrl('list') }}">{% trans from 'SonataAdminBundle' %}link_action_list{% endtrans %}</a></li>
            {% endif %}
                </ul>
            </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {}, 'list') }}{% endblock %}



{% block form %}
<div class="box box-success">
    <div class="box-header">
        <h4 class="box-title">Approve Account "{{object.getPortalUser().getFullName()}}"</h4>
    </div>
    <div class="box-body">

            <h5>Please complete the form to continue<br/>To approve user account, you must first approve the ID and POR documents</h5>

            <form id="register" action="{{ admin.generateObjectUrl('approve_application', object) }}" method="post">
                {% form_theme form admin.getTemplate('filter') %}
                {{form_errors(form)}}

                {{ form_widget(form._token) }}
                {{ form_row(form['boIdStatus'])}}
                {{ form_row(form['boPorStatus'])}}
                <div class="dates-select-cont">
                {{ form_row(form['idExpirationDate'], {'class':'dates-select'} ) }}
                {{ form_row(form['porExpirationDate'], {'class':'dates-select'} ) }}
                </div>
                {{ form_rest(form) }}

                    <div style="clear: both"></div>
                    <div class="actions">
                        <input type="submit" value="{% trans from 'messages' %}Continue{%endtrans%}" name="btn_update_and_edit" class="btn btn-primary">
                        <a class="btn" href="{{ admin.generateObjectUrl('show', object) }}">Cancel</a>
                    </div>
            </form>

                <div style="float: right">
                    <div class="sonata-actions">
                        <ul>
                        {% if admin.hasroute('edit') and admin.isGranted('EDIT')%}
                            <li class="btn sonata-action-element"><a href="{{ admin.generateObjectUrl('edit', object) }}">{% trans from 'SonataAdminBundle' %}Back to Edit{% endtrans %}</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
    </div>
</div>
{% endblock %}
